.team-supervision {
  .user-item {
    position: relative;
    background-color: $white-color;
    overflow: hidden;
    border-radius: 0;
    padding-bottom: 50px;
    min-height: 110px;
    cursor: pointer;
    border: 2px solid #fafafa;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      border: 2px solid $primary-color;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    }

    .body {
      padding: 10px 20px;

      .profile {
        display: flex;
        align-items: center;
        justify-self: center;
        width: 100%;

        .initials {
          text-align: center;
          line-height: 80px;
          font-weight: 600;
          font-size: 1.6rem;
          letter-spacing: 4px;
          color: $primary-color;
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: 80px;
          box-shadow: 0 0.2rem 0.5rem rgba($color: $primary-color, $alpha: 0.3);
        }

        .avatar {
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: 80px;
          box-shadow: 0 0.5rem 1rem rgba($color: $primary-color, $alpha: 0.4);

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }

      .label {
        font-size: $font-size-sm;
        text-transform: uppercase;
        margin: 0;
        margin-top: 10px;
      }

      .name {
        font-size: $font-size-md;
        font-weight: $font-weight-semibold;
        margin: 0;
      }

      .position {
        font-size: $font-size;
        font-weight: $font-weight-semibold;
        margin: 0;
      }
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      white-space: nowrap;

      button {
        margin-bottom: 5px;
        padding: 8px 15px;
        font-size: $font-size;
        font-weight: 600;
        background-color: $primary-color;
        color: $white-color;
      }
    }
  }
}
