.people-view-page {
  .objective {
    position: relative;
    background-color: #fafafa;
    cursor: default;

    .objective-action-dropdown {
      padding: 0.5em;

      li {
        &:hover {
          background-color: $muted-color;
          font-weight: $font-weight-semibold;
          button {
            color: $black-color;
          }
        }

        button {
          background-color: transparent;
          border: none;
          width: 100%;
          text-align: left;
          padding: 0.5em;
          color: $grey-color;
        }
      }
    }

    .objective-name {
      position: relative;
      font-size: $font-size-md;
      font-weight: $font-weight-semibold;
      line-height: 1;
      margin: 0;
    }
  }

  .measure-table {
    .header {
      th {
        font-weight: $font-weight-semibold;
        text-transform: none;
        white-space: nowrap;
      }
    }

    .row {
      td {
        font-size: $font-size;
      }
      .controls {
        white-space: nowrap;
      }
      .status {
        height: 10px;
        width: 10px;
        background-color: #fff;
        border-radius: 10px;
      }
      .red {
        background-color: $danger-color;
      }
      .warning {
        background-color: $warning-color;
      }
      .green {
        background-color: $success-color;
      }

      .actual-value {
        color: #fff;
        text-align: center;
      }
    }
  }

  .no-measures {
    padding: 1em;
    p {
      font-size: 1rem;
      line-height: 0.5em;
      margin: 0;
      color: $grey-color;
      span {
        font-style: normal;
      }
    }
  }
}
