.custom-modal-style {
  .uk-modal-title {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .sub-heading {
    margin-bottom: 0.2em;
    text-transform: uppercase;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
}