
.deduction {
  button {
    margin-top: 10px;
    height: 30px;
  }

  margin-bottom: 10px;

  &__reconciled {
    border-left: 5px solid #00ff00; 
  }

  &__not-reconciled {
    border-left: 5px solid #ff0000;
  }

  .employer-name {
    font-family: 'Open Sans', 'Sans-serif';
    color: #0000ff; 
    font-weight: 900;
  }

  .executed {
    margin: 0px 10px;
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
    border-radius: 360px;
    width: 5px !important;
    height: 50px;
    background-color: #ffcc00; 
    color: #ffffff; 
  }

  .reconciled {
    margin: 0px 10px;
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
    height: 50px;
    border-radius: 360px;
    width: 50px !important;
    background-color: #00ff00; 
    color: #ffffff; 
  }
/* .reports-margin{
  margin-left: 100px;
} */
  .issues {
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
    height: 50px;
    border-radius: 360px;
    width: 50px;
    background-color: #ff0000;
    color: #ffffff;
  }
}
.chart-container {
  border-radius: 10px; 
}

.filter-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 20px;
}

.filter-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }

  &.active {
    background-color: #0056b3;
  }

  &:focus {
    outline: none;
  }
}

.vertical-line {
  position: absolute;
  top: 2;
  bottom: 0;
  left: 33.33%; /* Adjust this to match the exact position */
  width: 0.2px;
    height: 90%;
  background-color: #dfdcdc; /* Light grey color */
  border-radius: 10px;
}
.vertical-line1 {
  position: absolute;
  top: 5;
  height: 90%;
  bottom: 0;
  right: 33.33%; /* Adjust this to match the exact position */
  width: 0.2px;
    border-radius: 10px;
  background-color:#dfdcdc;  /* Light grey color */
}

.vertical-line3 {
  position: absolute;
  top: 2;
  bottom: 0;
  left: 34.33%; /* Adjust this to match the exact position */
  width: 0.2px;
    height: 90%;
  background-color: #dfdcdc; /* Light grey color */
  border-radius: 10px;
}
.vertical-line4 {
  position: absolute;
  top: 5;
  height: 90%;
  bottom: 0;
  right: 31.33%; /* Adjust this to match the exact position */
  width: 0.2px;
    border-radius: 10px;
  background-color:#dfdcdc;  /* Light grey color */
}


