.measure-modal {
  #hidden-input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    input {
      width: 0;
      height: 0;
    }
  }
}
