.navbar {
  background-color: $muted-color;
  border-bottom: 1px solid $light-grey-color;
  height: 60px;

  .navbar-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: $font-weight-semibold;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    .icon {
      transition: all 0.3s ease-in-out;

      span {
        width: 30px;
      }
    }

    p {
      font-size: $font-size-md;
      width: clamp(calc(100% - 30px), 300px, 100%);
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }

    &:hover {
      cursor: pointer;

      .icon {
        margin-right: 5px;
      }
    }
  }

  .navbar-right {
    margin-right: 10px;

    li {

      .notification-btn,
      .settings-btn,
      .avartar-li-item {
        line-height: 60px;
        color: $grey-color;
        border: 0;
        outline: 0;
        cursor: pointer;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .avartar-li-item {
    display: flex;
    align-items: center;

    .avartar-username {
      font-size: $font-size-sm;
      color: $black-color;
      line-height: 1;
      margin: 0 10px 0 20px;

      .name {
        font-weight: $font-weight-semibold;
        text-transform: uppercase;
      }

      .job-title {
        font-size: $font-size-xs;
        font-weight: $font-weight-semibold;
        text-transform: uppercase;
        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .user-avartar {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: $white-color;
      border: 1px solid $grey-color;
      cursor: pointer;

      &:hover {
        background-color: $primary-color;
        border-color: $primary-color;

        .avartar-initials {
          color: $white-color;
        }
      }

      .avartar-img {
        object-fit: contain;
        -o-object-fit: contain;
        object-position: center center;
        -o-object-position: center center;
        height: 100%;
        width: 100%;
      }

      .avartar-initials {
        color: $grey-color;
        font-weight: $font-weight-semibold;
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 967px) {
  .navbar-right {
    margin-right: 4em !important;
  }
}