.step--stage-container {
  margin-left:20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.rendered-content-container {
  margin-top: 20px; /* Adjust the margin as needed */
}
