@import "../../../shared/styles/Variables.scss";

.users-tasks {
  .tasks-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // border: 2px solid green;
    padding: 0.5rem 2rem;

    .tasks-buttons {
      display: flex;
      // border: 2px solid red;
      gap: 2rem;
      .t-view {
        display: flex;
      }

      .t-filter,
      .t-view {
        border-radius: 8px;
        overflow: hidden;
        border: 0.5px solid #80808034;
      }
      .t-icon-item {
        padding: 0.4rem;
        transition: all 0.2s ease;
        cursor: pointer;
        &:hover {
          background-color: rgba(128, 128, 128, 0.082);
        }
      }
    }
  }

  .tasks-content {
    transition: all 0.3s ease;
  }

  .catergory-list {
    padding: 2rem;
    .todo,
    .in-progress,
    .in-review,
    .done {
      background-color: rgba(128, 128, 128, 0.055);
      padding: 1rem;
      margin-bottom: 1rem;
    }
    .task-list {
      min-height: 100px;
      .list-item {
        background-color: white;
        padding: 0.3rem;
        cursor: pointer;
        position: relative;
        border-radius: 8px;
        box-shadow: 0 2px 10px 0 rgba(128, 128, 128, 0.103);
        margin-bottom: 0.4rem;
        display: grid;
        grid-template-columns: 2fr 0.6fr 1fr 0.5fr 4px;
        align-items: center;
        transition: 0.4s ease-out;

        .projectName {
          span {
            width: fit-content;
            border-radius: 20px;
            border: 1px solid;
            // text-align: center;
            font-size: 0.7rem;
            margin-block-start: 0.8em;
            margin-block-end: 0;
            transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            padding: 0 0.6rem;

            &:hover {
              border: 0.4px solid;
            }
          }
        }

        &:hover {
          transform: translateX(-0.5rem);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.158);
        }

        .list-item-title {
          padding-left: 0.3rem;
        }
        .list-item-title {
          display: flex;
          align-items: center;
          gap: 0.8rem;
        }

        .list-users {
          border-right: 2px solid $primary-color;
          display: flex;
          justify-content: flex-end;
          padding-right: 0.9rem;
          .l-u {
            width: fit-content;
          }
        }

        .list-item-dates {
          padding-left: 0.9rem;
        }

        // .edit-action-button {
        //   position: absolute;
        //   right: 0.3rem;
        //   top: 0.7rem;
        //   padding: 0.4rem;
        //   border-radius: 100%;
        //   background-color: #0230470c;
        // }
        .item-colors {
          height: 100%;
          border-radius: 20px;
        }
      }
    }
  }

  .catergory-grid {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    .tasks {
      padding: 0.4rem;
      background-color: rgba(221, 220, 220, 0.212);

      .content {
        height: max(70vh, 80vh);
        overflow-y: scroll;

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
        }
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
        .item {
          padding: 1rem;
          position: relative;
          background-color: white;
          border-radius: 6px;
          margin-top: 1rem;
          margin-bottom: 1rem;
          transition: all 0.4s ease;
          box-shadow: 0 1px 5px 0 rgba(128, 128, 128, 0.199);

          .item-inside {
            width: 100%;
            height: 100%;
          }

          .item-status {
            margin-top: 0.4rem;
            label {
              margin-left: 0.5rem;
            }
            .uk-select {
              border-radius: 6px;
            }
          }

          .card-actions {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            .edit-action-button {
              padding: 0.7rem;
              border-radius: 100%;
              background-color: #0230471f;
            }
          }

          .delete-task {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0.8rem;
            cursor: pointer;
            padding: 0.6rem 0.6rem;
            gap: 0.5rem;
            border-radius: 8px;
            transition: all 0.3s ease-out;
            width: 100%;
            color: red;
            background-color: #4747471c;
            &:hover {
              background-color: #ff000018;
            }
          }

          &:hover {
            transform: translateY(-4px);
            box-shadow: 0 1px 20px 0 rgba(128, 128, 128, 0.432);
            z-index: 1000;
          }

          .severity {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0.3rem;
            font-size: 0.7rem;
            border-radius: 6px 0 6px 0;
            color: white;

            &.low {
              background-color: green;
            }
            &.medium {
              background-color: #ffc000;
            }
            &.high {
              background-color: red;
            }
          }

          .item-top {
            display: flex;
            gap: 0.5rem;
            justify-content: flex-start;
            margin-bottom: 1rem;
            span {
              width: 50px;
              height: 4px;
              border-radius: 50px;
            }
          }
          .item-title {
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }

          .cont {
            // border: 2px solid red;
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .user {
              background-color: $primary-color;
            }

            .mcount {
              position: absolute;
              bottom: 0.3rem;
              right: 0.3rem;
            }
          }
        }
      }
    }
  }

  .catergory-milestone {
    padding: 1rem;
  }
}

.gantt-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  .gantt-actions-button {
    border-radius: 8px;
    border: 0.5px solid rgba(100, 100, 100, 0.233);
    overflow: hidden;

    .gannt-button {
      cursor: pointer;
      height: 2rem;
      padding: 0 1rem;
      transition: all 0.3s ease;
      // width: 4rem;
      border-right: 1px solid rgba(0, 0, 0, 0.192);

      &:hover {
        background-color: rgba(128, 128, 128, 0.315);
      }
    }
  }
}

@supports (display: block) {
  svg {
    max-width: fit-content !important;
  }
}
